// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Nunito Sans', sans-serif !default;

$darkElementsColor: #2B3945;
$darkBackgroundColor: #202C37;
$lightTextColor: #111517;
$lightInputColor: #858585;
$lightBackgroundColor: #FAFAFA;

// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%) in RGB -> #2B3945
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%) in RGB -> #202C37
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%) in RGB -> #111517
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%) in RGB -> #858585
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%) in RGB -> FAFAFA
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) in RGB -> FFFFFF

.theme--dark.v-app-bar.v-toolbar.v-sheet, 
.theme--dark.v-card, 
.theme--dark.v-text-field--solo > .v-input__control > .v-input__slot, 
.theme--dark.v-list,
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined),
.theme--dark.v-chip:not(.v-chip--active) {
    background: $darkElementsColor;
}

.theme--dark.v-application {
    background: $darkBackgroundColor;
}

.theme--light.v-app-bar.v-toolbar.v-sheet,
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined),
.theme--light.v-chip:not(.v-chip--active) {
  background: white;  
}

// .theme--light.v-app-bar.v-toolbar.v-sheet, 
// .theme--light.v-card, 
// .theme--light.v-text-field--solo > .v-input__control > .v-input__slot, 
// .theme--light.v-list {
//     background: $lightInputColor;
// }

.theme--light.v-application {
    background: $lightBackgroundColor;
}

.rc-font-weight-regular {
    font-weight: 400 !important;
}

.rc-font-weight-medium {
    font-weight: 600 !important;
}

.rc-font-weight-bold {
    font-weight: 800 !important;
}